[Unit]
Description = Chik Exporter Service

[Service]
Type = simple
ExecStart=/usr/local/bin/chik-exporter serve
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
